.mat-expansion-panel-header-title {
  font-weight: bold;
}

.mat-expansion-panel {
  margin: 8px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
}

.mat-expansion-panel-spacing {
  margin: 8px !important;
}

table {
  width: 100%;
}

.product {
  padding-left: 32px;
}

.price {
  width: 10%;
}

#total {
  font-weight: bold;
}
