<div class="form">
  <h2>Login</h2>
  <mat-form-field>
    <input matInput #username placeholder="Username" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      #password
      placeholder="Enter your password"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <button mat-button (click)="onLogin(username.value, password.value)">Login</button>
</div>
